@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root,
:host {
  --font-inter-tight: "Roboto", sans-serif;
  --color-primary-50: #f4f2fe;
  --color-primary-100: #ece8ff;
  --color-primary-200: #dcd4ff;
  --color-primary-300: #c3b1ff;
  --color-primary-400: #a585ff;
  --color-primary-500: #8b35d6;
  --color-primary-600: #7c31f6;
  --color-secondary: #1a1a1c;
  --color-purple: #8b35d6;
  --color-accent: #fcfcfc;
  --color-background-1: #fcfcfd;
  --color-background-2: #f9fafb;
  --color-background-3: #f4f5f8;
  --color-background-4: #f0f2f6;
  --color-background-5: #13171e;
  --color-background-6: #0f1217;
  --color-background-7: #181d26;
  --color-background-8: #070b10;
  --color-background-9: #1f252f;
  --color-stroke-1: #dfe4eb;
  --color-stroke-2: #e3e7ed;
  --color-stroke-3: #d7dde5;
  --color-stroke-4: #eceff4;
  --color-stroke-5: #1b232f;
  --color-stroke-6: #202731;
  --color-stroke-7: #2a333e;
  --color-stroke-8: #303b49;
  --color-stroke-9: var(--color-background-8);
  --color-ns-yellow: #f9eb57;
  --color-ns-green: #c6f56f;
  --color-dk-green: #1cbc53;
  --color-ns-red: #ffb9a2;
  --color-ns-cyan: #83e7ee;
  --color-ns-green-light: #e8fbc6;
  --color-ns-purple-light: #f3e5ff;
  --color-ns-cyan-light: #cdf5f8;
  --color-ns-yellow-light: #fdf7bc;
  --color-gradient-1: linear-gradient(135deg, #a585ff 0%, #ffc2ad 100%);
  --color-gradient-5: linear-gradient(165deg, #ffffff80 0.51%, #fff0 64.43%);
  --color-gradient-6: linear-gradient(#83e7ee 0%, #c6f56f 100%);
  --color-gradient-7: linear-gradient(#fff 0%, #83e7ee 100%);
  --color-gradient-8: linear-gradient(156deg, #fff 32.92%, #a585ff 91%);
  --color-gradient-9: linear-gradient(156deg, #dfb0ff 32.92%, #fdbedc 91%);
  --text-heading-1: 4.25rem;
  --text-heading-1--line-height: 110%;
  --text-heading-2: 3.25rem;
  --text-heading-2--line-height: 120%;
  --text-heading-3: 2.5rem;
  --text-heading-3--line-height: 120%;
  --text-heading-4: 2rem;
  --text-heading-4--line-height: 130%;
  --text-heading-5: 1.5rem;
  --text-heading-5--line-height: 140%;
  --text-heading-6: 1.25rem;
  --text-heading-6--line-height: 140%;
  --text-tagline-1: 1rem;
  --text-tagline-1--line-height: 150%;
  --text-tagline-2: 0.875rem;
  --text-tagline-2--line-height: 150%;
  --text-tagline-3: 0.75rem;
  --text-tagline-3--line-height: 150%;
  --blur-ns-badge-blur: 17.2283px;
  --stack-cards-gap: 2rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-xs: 20rem;
  --container-md: 28rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --drop-shadow-2xl: 0 25px 25px #00000026;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-3xl: 64px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .show-sidebar {
    --tw-translate-x: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .hide-sidebar {
    --tw-translate-x: 100%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
}

.dark\:hero-bg-overlay-dark:where(.dark, .dark *) {
  --tw-gradient-position: 180deg, #070b10e6 0%, #070b10 100%;
  background-image: linear-gradient(
    var(--tw-gradient-stops, 180deg, #070b10e6 0%, #070b10 100%)
  );
}

.hero-bg-overlay-light {
  --tw-gradient-position: 180deg, #fffc 43.93%, #fff 100%;
  background-image: linear-gradient(
    var(--tw-gradient-stops, 180deg, #fffc 43.93%, #fff 100%)
  );
}

.bg-image {
  background-image: url("./assets/images/gradient-44.png") !important;
  background-size: auto !important;
}

.badge {
  padding-inline: calc(var(--spacing) * 5);
  padding-block: calc(var(--spacing) * 1.5);
  font-size: var(--text-tagline-2);
  line-height: var(--tw-leading, var(--text-tagline-2--line-height));
  --tw-font-weight: var(--font-weight-normal);
  font-weight: var(--font-weight-normal);
  text-wrap: nowrap;
  color: var(--color-secondary);
  text-transform: uppercase;
  --tw-backdrop-blur: blur(var(--blur-ns-badge-blur));
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  border-radius: 3.40282e38px;
  display: inline-block;
}

.badge:first-letter {
  text-transform: uppercase;
}

.badge-blur-v2 {
  color: var(--color-primary-50);
  background-color: #fcfcfc33;
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-blur-v2 {
    background-color: color-mix(in oklab, var(--color-accent) 20%, transparent);
  }
}

.badge-blur-v2:where(.dark, .dark *) {
  background-color: #1a1a1c33;
}

.badge-purple-v2 {
  background-color: var(--color-ns-purple-light);
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-blur-v2:where(.dark, .dark *) {
    background-color: color-mix(
      in oklab,
      var(--color-secondary) 20%,
      transparent
    );
  }
}

.badge-blur-v2:where(.dark, .dark *) {
  color: #fcfcfc99;
}

.badge-cyan {
  background-color: var(--color-ns-cyan-light);
}

.badge-cyan:where(.dark, .dark *) {
  background-color: #fcfcfc1a;
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-cyan:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

.badge-cyan:where(.dark, .dark *) {
  color: var(--color-ns-green);
}

.badge-cyan-v2 {
  background-color: var(--color-ns-cyan-light);
}

.badge-cyan-v2:where(.dark, .dark *) {
  background-color: #fcfcfc1a;
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-cyan-v2:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

.badge-cyan-v2:where(.dark, .dark *) {
  color: var(--color-ns-cyan);
}

.badge-blur {
  color: var(--color-primary-50);
  background-color: #fcfcfc1a;
}

.badge-green {
  background-color: var(--color-ns-green-light);
}

.badge-green:where(.dark, .dark *) {
  background-color: #fcfcfc1a;
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-green:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

.badge-green:where(.dark, .dark *) {
  color: var(--color-ns-yellow);
}

.badge-green-v2 {
  background-color: var(--color-ns-green-light);
}

.badge-purple-v2 {
  background-color: var(--color-ns-purple-light);
}

.badge-green-v2:where(.dark, .dark *) {
  background-color: #fcfcfc1a;
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-green-v2:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

.badge-green-v2:where(.dark, .dark *) {
  color: var(--color-ns-green);
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-blur {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

@supports (color: color-mix(in lab, red, red)) {
  .badge-blur-v2:where(.dark, .dark *) {
    color: color-mix(in oklab, var(--color-accent) 60%, transparent);
  }
}

.text-animation {
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  -webkit-background-clip: text;
  animation: 5s linear infinite textAnimate;
}

@keyframes textAnimate {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  /* Prevent horizontal overflow caused by large absolute elements */
  html,
  body {
    overflow-x: hidden;
  }
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background-color: var(--color-background-2);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* .footer-social-link {
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 0.3s;
  transition-duration: 0.3s;
}

@media (hover: hover) {
  .footer-social-link:hover {
    --tw-translate-y: calc(var(--spacing) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
} */
